<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Люди помогают людям </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
      <img src="{{url_for('static', filename="logo_rus.png")}}" style=" margin-left: 30%;">
     
  <section class="section">
    <div class="container">
     
    </div>
  </section>
  <a href="{{url_for('login')}}" style="margin-left: 30%;" class="button is-medium is-responsive">
  </button> вход </a>


  <button style="position:relative; margin-left:30%;"  class="button is-medium is-responsive">
    <a href="{{url_for('registration')}}">регистрация</a>
   </button>
  
  </body>
  
</html>