<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Люди помогают людям </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
      <img src="{{url_for('static', filename="logo_rus.png")}}" style=" margin-left: 30%;">
     

    <form action="{{url_for('helpee')}}" method="post" >    <!--need the same for helper-->
        
        <div class="field">
            <label class="label">Логин</label>
            <div class="control">
              <input class="input" type="text" placeholder="e.g ivanov">
            </div>
          </div>
          
          <div class="field">
            <label class="label">Пароль</label>
            <div class="control">
              <input class="input" type="text" placeholder="******">
            </div>
          </div>

        <input type="submit" value="Подтвердить">
 </form>
  
  </body>
  
</html>