<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Люди помогают людям</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <!--<a class="navbar-item" href=""> add link to the main page -->
            <img src="{{url_for('static', filename="logo_rus.png")}}"  height="200" width ="200" >
          <!--</a> -->
      
         <!--- <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>-->
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
           
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a href="{{url_for('switch')}}" class="button is-grey  is-rounded ">
                  <strong>Настройки</strong>
                </a>
               
              </div>
            </div>
          </div>
        </div>
      </nav>

      <div style="margin-left:50%;">
      <p>{{data}}</p>
      </div>

      <section class="hero">
        <div class="hero-body">
          <p class="title" style="text-align:Center;">
            Они могут помочь вам: 
          </p>
        </div>
    </section>
    <div style="float:right; margin-right:100px; " >
        <button class="button is-medium is-fullwidth" style="margin-left:40%;">Создать публикацию</button>
    </div>
    
<div style="text-align:center; margin-left:300px; margin-right:300px;margin-top:200px;">
      <form class="box" >
        <img src="blank">
      МАРИЯ
        <button class="button is-primary" > Написать сообщение</button>
      </form>
      <form class="box" >
        <img src="blank">
      МАРИЯ
        <button class="button is-primary"> Написать сообщение</button>
      </form>
      <form class="box" >
        <img src="blank">
      МАРИЯ
        <button class="button is-primary"> Написать сообщение</button>
      </form>

    </div>

   
      </body>
      </html>