<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Люди помогают людям </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/5ecd7d043c.js" crossorigin="anonymous"></script>
  </head>
  
  <body>

    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <!--<a class="navbar-item" href=""> add link to the main page 
          <img src="logo_rus.png" height="200" width ="200" position="center">
        </a> -->
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
         
            </div>
          </div>
        </div>
    
        
      </div>
    </nav>

      <img src="{{url_for('static', filename='logo_rus.png')}}" style=" display: block; margin-left: auto;   margin-right: auto;">

      <section class="hero">
        <div class="hero-body">
          <p class="title" style="text-align:Center;">
            Регистрация 
          </p>
         
        </div>
      </section>


    <section class="section">
    <div class="container">
        <form  action="{{url_for('regsubmit')}}"  method="POST" enctype = "multipart/form-data"  class="box" >

          <div class="field">
            <label class="label">Фото </label>
            <div class="control">
              <input type="file" name="profile_photo" class="input"  >
            </div>
          </div>


            <div class="field">
              <label class="label">Категория</label>
              <div class="select">
                <select name="mode">
                  <option>Помощник</option>
                  <option>Нужна помощь</option>
                </select>
              </div>

              

            <div class="field">
                <label class="label">Имя</label>
                <div class="control">
                  <input name="first_name" class="input" type="text" placeholder="текст">
                </div>
              </div>

              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input name="email" class="input" type="email" placeholder="электронная почта">
                </div>
              </div>

              <div class="field">
                <label class="label">Город</label>
                <div class="control">
                  <input name="city" class="input" type="text" placeholder="текст">
                </div>
              </div>

              <div class="field">
                <label class="label">Дата рождения </label>
                <div class="control">
                  <input name="birth_date" class="input" type="date" placeholder="текст">
                </div>
              </div>
          
 
<!--add phone num,age, last name-->
              
           <!-- <div class="field">         LET THEM DO THAT IN THE POST FOR NOW 
                <label class="label">Группа помощи </label>
                <div class="select is-multiple ">
                    <select name="category2" multiple >    
                      <option value="Учеба" >Учеба</option>
                      <option value="Технические проблемы">Технические проблемы</option>
                      <option value="Право">Право</option>
                    </select>
                  </div>
            </div>-->

            
           
              <input type="submit" value="Подтвердить">
        
          </form>
    </div>
  </section>

  </body>
</html>