<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Люди помогают людям </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  
  <body>

    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <!--<a class="navbar-item" href=""> add link to the main page 
          <img src="logo_rus.png" height="200" width ="200" position="center">
        </a> -->
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
         
            </div>
          </div>
        </div>
    
        
      </div>
    </nav>

      <img src="{{url_for('static', filename="logo_rus.png")}}" style=" display: block; margin-left: auto;   margin-right: auto;">

      <section class="hero">
        <div class="hero-body">
          <p class="title" style="text-align:Center;">
            Регистрация 
          </p>
         
        </div>
      </section>


    <section class="section">
    <div class="container">
        <form  action="{{url_for('regsubmit')}}"  method="post" class="box">
            <div class="field">
              <label class="label">Категория</label>
              <div class="select">
                <select name="category">
                  <option>Помощник</option>
                  <option>Нужна помощь</option>
                </select>
              </div>

              <div class="control">
                <!--<input class="input" type="email" placeholder="текст">-->
              </div>
            </div>

            <div class="field">
                <label class="label">Имя</label>
                <div class="control">
                  <input name="q" class="input" type="text" placeholder="текст">
                </div>
              </div>

              <div class="field">
                <label class="label">Город</label>
                <div class="control">
                  <input name="w" class="input" type="text" placeholder="текст">
                </div>
              </div>

              <div class="field">
                <label class="label">Дата рождения </label>
                <div class="control">
                  <input name="e" class="input" type="text" placeholder="текст">
                </div>
              </div>
          


              
            <div class="field">
                <label class="label">Группа помощи </label>
                <div class="select">
                    <select name="category2">
                      <option>Учеба</option>
                      <option>Технические проблемы</option>
                      <option>Право</option>
                    </select>
                  </div>
            </div>

                
              <!--<label class="label">Группа помощи </label>
              <div class="control">
                <input class="input" type="password" placeholder="текст">
              </div>-->
            
         
              <input type="submit" value="Подтвердить">
        
          </form>
    </div>
  </section>
    


            
  
  
  
  <p><a href="profile.html">page3</a></p>
  </body>
</html>